<section class="banner container section-scroll" id="page-1">
    <div class="banner__text-wrapper grid">
      <div class="banner__developer-greeting">
        <p class="banner__text-hello">Привет! Я</p>
        <h2 class="banner__text-name" >Егор Саушкин</h2>
        <h1 class="banner__text-ios">IOS разработчик</h1>
        <!-- <a class="banner__button" href="#page-5"><p class="banner__button-text">Связаться со мной</p></a> -->
      </div>
      <div class="banner__developer-info">
        @include('../partials/socials.html')
      </div>
      <picture class="banner__photo">
        <img  class="banner__img"src="./img/developer-photo.png" alt="Фото разработчика" width="450px" height="370px">
      </picture>

    </div>
  </section>
