<section class="benefits container  grid section-scroll">

  <h3 class="benefits__header">
    Чем я буду полезен в вашей компании?
  </h3>
  <ul class="benefits__list grid">
    <li class="benefits__item">
      <svg>
        <use width="44" height="44" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="benefits__text">
        Я работал в нескольких командах, что позволяет мне легко встроиться в новую.
      </p>
    </li>
    <li class="benefits__item">
      <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
        У меня есть опыт разработки приложения «с нуля».
      </p></li>
    <li class="benefits__item">
      <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
        Проекты, в которых я работал, залиты в AppStore.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">Я работал с чужим кодом и делал код-ревью.
      </p></li>
    <li class="benefits__item">
    <svg>
        <use width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
    <p class="betefits__text">
      У меня есть опыт с Firebase, Coredata, Rest API, Unit-Tests.
    </p></li>
    <li class="benefits__item">
      <svg class="benefit__icon">
        <use  width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
        У меня есть опыт написания приложений на архитектурах MV (X) и Clean Swift.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use class="benefit__icon" width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">
        Сейчас я самостоятельно изучаю Swift UI, есть базовый опыт и понимание фреймворка.
      </p></li>
    <li class="benefits__item">
      <svg>
        <use class="benefit__icon" width="44" height="40" xlink:href=img/sprite.svg#checkmark></use>
      </svg>
      <p class="betefits__text">Всегда готов изучать новые технологии и как можно быстрее внедрять их в проект.
      </p></li>
  </ul>

</section>
