<header class="header" >
  <div class="container">
    <nav class="header__nav " title="Навигация страницы">
      <ul class="header__ancor-bar">
        <li><a class="header__bar-link" href="#page-1">Главная</a></li>
        <li class="header__bar-link"><a class="header__bar-link" href="#page-2">Резюме</a></li>
        <li><a class="header__bar-link" href="#page-4">Стек</a></li>
      </ul>
      <ul class="header__burger">
        <li class="header__burger-element"></li>
        <li class="header__burger-element"></li>
        <li class="header__burger-element"></li>
      </ul>
      <a class="header__button" href="./resume.pdf" download="резюме">
        <svg class="header__icon">
          <use xlink:href=img/sprite.svg#cv></use>
        </svg>
      </a>
    </nav>
  </div>
</header>
