<section class="skills " id="page-4">

  <div class="skills__wrapper">
    <h2 class="skills__name">Стек</h2>
    <ul class="snake-grid">
        <li class="snake-item">
            <h3 class="skills__header">Основные технологии:</h3>
            <p class="skills__text">Swift, GIT, Figma, JIRA</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">User Interface:</h3>
            <p class="skills__text">UIKit, Swift UI (база), верстка: code, Storyboard, Xib, CoreAnimation/ UIPropertyAnimator, AIG</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Фреймворки (CocoaPods, SPM):</h3>
            <p class="skills__text">SnapKit, Alamofire, Firebase</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Базы Данных:</h3>
            <p class="skills__text">Coredata, User Defaults</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Методологии:</h3>
            <p class="skills__text">SOLID, OOP, POP, YAGNI, DRY, KISS, Agile Scrum</p>
        </li>
        <li class="snake-item">
            <h3 class="skills__header">Английский:</h3>
            <p class="skills__text">С1(Advanced — свободное владение)</p>
        </li>
      </ul>
</section>
